# Fill in these values to begin:
SEPOLIA_PRIVATE_KEY=0x
TON_API_KEY=
TON_MNEMONIC=""

# Fill in these values after deployment:
EVM_RECEIVER_ADDRESS=
TON_RECEIVER_ADDRESS=

# Pre-set values:
SEPOLIA_RPC_URL=https://ethereum-sepolia-rpc.publicnode.com
SEPOLIA_ROUTER=0xEA5d21863357870Be141b318A4d4E9709Ac3F5ce
SEPOLIA_ONRAMP=0xFB34b9969Dd201cc9A04E604a6D40AF917b6C1E8
SEPOLIA_CHAIN_SELECTOR=16015286601757825753
TON_RPC_URL=https://testnet.toncenter.com/api/v2/jsonRPC
TON_ROUTER=EQDrkhDYT8czFZuYNPlFMJ5ICD8FQoEW0b1KvITMVljC3ZTV
TON_OFFRAMP=EQDrkhDYT8czFZuYNPlFMJ5ICD8FQoEW0b1KvITMVljC3ZTV
TON_CHAIN_SELECTOR=1399300952838017768
